body {
    background: gray
}

p {
    width: 0px;
    height: 0px;
    border-top: 100px solid green;
    border-bottom: 100px solid blue;
    border-right: 100px solid red;
    border-left: 100px solid yellow;
}

div {
    background-color: lightgreen;
    width: 200px;
    height: 50px;
    border: 6px solid green;
    border-top-style: double;
    border-bottom-style: dotted;
}

h1 {
    background-color: lightgreen;
    width: 150px;
    height: 200px;
    border: 6px solid green;
    border-top-style: none;
    margin: 0px 25px;
}

h2 {
    display: inline-block;
    width: 0px;
    height: 0px;
    border-top: 100px solid lightblue;
    border-right: 100px solid blue;
    border-left: 100px solid darkblue;
}

h3 {
    display: inline-block;
    background: rgb(20, 30, 80);
    width: 250px;
    height: 160px;
    padding-top: 20px;
    margin: 0px 10px;
}

a {
    font-size: 50px;
    color: white;
    font-family: arial;
}

span {
    font-size: 20px;
    color: white;
    font-family: arial;
}

h4 {
    display: inline-block;
    background: white;
    width: 150px;
    height: 110px;
    padding: 50px;
    padding-top: 20px;
    margin: 0px 10px;
    color: lightgray;
}